body {
    background: white;
}

div.ricerca {position: relative; display: inline-block; width: 100%; margin: auto; padding: 0;}
    div.ricerca .box.RicercaBase, div.ricerca .box.RicercaDescr {
        width: 48%; margin: 0; border: none; clear: both; padding: 0; overflow: hidden;
    }
    div.ricerca .box.RicercaBase {
        float: left; 
    }
    div.ricerca .box.RicercaDescr {
        position: absolute; margin-top: 0; right: 0; 
    }

    div.ricerca .box fieldset {
        border: none;
    }

    div.ricerca .box.RicercaBase fieldset legend, div.ricerca .box.RicercaDescr fieldset legend {
        font-size: 1.28em;
        width: 100%;
        padding: 1em 0 15px;
        background-color: transparent;
        color: #414141;
        border-bottom: 1px solid #980000;
        font-weight: 700;
    }

    div.ricerca .box.RicercaBase fieldset form, div.ricerca .box.RicercaDescr fieldset form,
    div.ricerca .box.RicercaBase fieldset div, div.ricerca .box.RicercaDescr fieldset div {
        padding: 8px;
    }

        div.ricerca .box.RicercaBase fieldset form input[type="text"], div.ricerca .box.RicercaDescr fieldset form input[type="text"], 
        div.ricerca .box.RicercaBase fieldset input[type="text"], div.ricerca .box.RicercaDescr fieldset input[type="text"] {
            border: 1px solid #b9b9b9;
            color: #414141;
            background: #fff;
            font-size: 15px;
            padding: 6px 12px;
            outline: none;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            margin: 0 5px 0 0;
        }

        /*div.ricerca .box.RicercaBase fieldset form input[type="submit"], div.ricerca .box.RicercaDescr fieldset form input[type="submit"],
        div.ricerca .box.RicercaBase fieldset input[type="button"], div.ricerca .box.RicercaDescr fieldset input[type="button"]*/
        div.ricerca .box .btn 
        {
            background-color: #980000;
            color: #fff;
            padding: 5px 20px;
            border: 0;
            text-transform: uppercase;
            cursor: pointer;
        }

.ElencoProdotti {
    position: relative; display: block; width: 100%; margin: auto; padding: 0;
}
